<?php
	/*
	 * This file is part of BotanIRC.
	 * Ce fichier fait partie de BotanIRC.
	 */
	 
	/**
	 * Fichier de configuration standard.
	 * 
	 * @license http://opensource.org/licenses/lgpl-license.php GNU Lesser General Public License
	 * @copyright Copyright &copy; 2005, Renaud LITTOLFF
	 * @author Renaud LITTOLFF <matt.rixx@mattlab.com>
	 * @version 1.0
	 */

	define('BOT_NICK',			'BotanIRC');
	define('BOT_PWD',			'_YourPassword_');
	
	define('LOG',				true);
	define('LOG_OUTPUT',		'console');		// 'console' or 'file'
	define('LOG_WRITE_TYPE',	'overwrite');	// only for 'file' output
?>
